# --- BANCO DE DADOS (Aponta para o Docker local) ---
DB_USER=crm_user
DB_PASS=sua_senha_aqui
DB_NAME=crm_db
DB_HOST=localhost
DB_PORT=5432

# --- REDIS (Aponta para o Docker local) ---
REDIS_URL=redis://localhost:6379/0

# --- FLASK ---
SECRET_KEY=sua_chave_secreta_aqui
FLASK_APP=run.py
FLASK_DEBUG=1

# --- EVOLUTION API (REMOTA) ---
EVOLUTION_API_URL=http://sua-url-da-api:8080
# A API Key global da Evolution
EVOLUTION_API_KEY=sua_api_key_aqui
INSTANCE_NAME=instancia_padrao
